@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #9dd6f4; /* Warna Biru */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #49b4ed; /* Warna latar belakang */
  border-radius: 8px; /* Membuat sudut elemen menjadi melengkung */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  animation: container-animation 0.5s ease-in-out forwards;
  max-width: 600px; /* Lebar maksimum */
  width: 80%; /* Lebar relatif */
}

h1 {
  font-size: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.card {
  background-color: #9dd6f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: card-animation 0.5s ease-in-out forwards;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countdown-item {
  margin: 0 10px;
  background-color: #9dd6f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: countdown-animation 0.5s ease-in-out forwards;
}

.age {
  justify-content: center;
  margin-top: 20px;
}

.age-item {
  margin: 0 3px;
  background-color: #9dd6f4;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: age-animation 0.5s ease-in-out forwards;
}

.countdown-value {
  font-size: 48px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 5px;
}

.countdown-label,
.age-label {
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
}

.birthday-image {
  max-width: 250px;
  height: auto;
}

.img {
  max-width: 100%;
  margin-top: -35px;
  height: auto;
  max-height: 200px; /* Sesuaikan dengan tinggi gambar yang diinginkan */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  animation: shake 1.5s infinite;
}

.img:hover {
  transform: scale(1.05);
}

.birthday-card {
  font-size: 16px;
  color: #555555;
  margin-top: 20px;
}

.birthday-message {
  background-color: #9dd6f4; /* Warna latar belakang */
  border-radius: 8px; /* Membuat sudut elemen menjadi melengkung */
  padding: 20px; /* Ruang di dalam elemen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efek bayangan */
  text-align: center; /* Pusatkan teks */
  color: #333333; /* Warna teks */
  margin-top: 20px; /* Jarak atas */
  animation: message-animation 0.5s ease-in-out forwards; /* Animasi */
}

.play-button {
  margin-top: 15px;
  background-color: #43d1db; /* Warna latar belakang */
  color: white; /* Warna teks */
  padding: 10px 20px; /* Padding (jarak) di dalam tombol */
  font-size: 16px; /* Ukuran teks */
  border: 1px solid #43a8db; /* Warna elemen tombol */
  cursor: pointer; /* Kursor menjadi tanda panah saat diarahkan ke tombol */
  border-radius: 8px; /* Sudut melengkung pada tombol */
}

/* Efek hover saat kursor diarahkan ke tombol */
.play-button:hover {
  background-color: #43a8db;
}
#typing-animation {
  overflow: hidden; /* Mengatur overflow ke hidden untuk memastikan teks yang melebihi lebar tidak terlihat */
  border-right: 0.15em solid orange; /* Garis bawah animasi */
  white-space: nowrap; /* Menghindari pemisahan kata pada teks animasi */
  margin: 0 auto; /* Mengatur margin untuk pusatkan teks */
  letter-spacing: 0.15em; /* Mengatur jarak antar huruf */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; /* Mengatur animasi dan kecepatannya */
}

@keyframes typing {
  from {
    width: 0;
  } /* Memulai animasi dengan lebar 0 */
  to {
    width: 100%;
  } /* Mengakhiri animasi dengan lebar 100% */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  } /* Mengubah warna garis bawah */
  50% {
    border-color: orange;
  } /* Mengembalikan warna garis bawah setengah waktu animasi */
}

/* Animasi Countdown */
@keyframes countdown-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes countdown-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes img-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes age-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes card-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes message-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .countdown-value {
    font-size: 36px;
  }

  .countdown-label,
  .age-label {
    font-size: 12px;
  }
  .img {
    max-height: 100px; /* Sesuaikan dengan tinggi gambar pada perangkat dengan lebar maksimum 480px */
  }
  .birthday-image {
    max-height: 75px; /* Sesuaikan dengan tinggi gambar pada perangkat dengan lebar maksimum 480px */
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .countdown-value {
    font-size: 42px;
  }

  .countdown-label,
  .age-label {
    font-size: 13px;
  }

  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 32px;
  }

  .countdown-value {
    font-size: 48px;
  }

  .countdown-label,
  .age-label {
    font-size: 14px;
  }

  .container {
    max-width: 600px;
  }
}
